@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    min-width: 100vw;
    overflow-x: hidden;
    background: #1A1817;
}
#Inicio{
    margin-top: 70px;
}
#Inicio section p{
    width: 90%;
}
#Inicio img{
    height: 300px;
}
h1 .Lincoln{
    background: -webkit-linear-gradient(40deg,#023670, #6CB0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.Lincoln::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1A1817;
    border-left: 2px solid #6CB0FF;
    animation: escrever 3s steps(7) infinite;
}
@keyframes escrever{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}
.Modelo{
    transition: .5s ease;
}
.Modelo:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.image-container, .image-container-inacabado{
    position: relative;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.4%;
    bottom: 0;
    border-left: 10px solid green;
    border-radius: 2px;
    z-index: 0; 
}

.image-container-inacabado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.4%;
    bottom: 0;
    border-left: 10px solid rgb(214, 218, 0);
    border-radius: 2px;
    z-index: 0; 
}
.card{
    width: 50%;
}
.botaoProj{
    /*
    Padding-box: tamanho do objeto sem a borda
    Border-box: Ocupa o objeto e a borda
    */
    background: linear-gradient(#212529,#212529) padding-box,
    linear-gradient(to right, #1865BF, #71B2FF) border-box;
    border-radius: 50em;
    padding: 10px 20px;
    border: 4px solid transparent;
    align-self: center;
}
.botaoProj a{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 800px){
    #Inicio{
        flex-direction: column-reverse;
        text-align: center;
        margin-right: 0;
    }
    #Inicio section{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    #Inicio section p{
        align-self: center;
    }
    #Inicio img{
        width: 32%;
        align-self: center;
        height: 350px;
        margin-bottom: 20px;
    }
    #SobreMim section {
        flex-direction: column;
    }
    #SobreMim section img{
        width: 32%;
        align-self: center;
        height: 300px;
        margin-bottom: 20px;
    }
    #Projetos section{
        flex-wrap: wrap;
    }
    #Projetos section .card{
        width: 100%;
    }
}
@media (max-width: 600px){
    #SobreMim section img{
        width: 50%;
        align-self: center;
        height: 250px;
        margin-bottom: 20px;
    }
    #Inicio img{
        width: 50%;
        align-self: center;
        height: 250px;
        margin-bottom: 20px;
    }
 
    #Habilidades div{
        flex-direction: column;
    }
    #Habilidades div .texto-habilidade{
        width: 100%;
    }
}
#Certificacoes .card{
    border: 2px solid #1865BF;
}